:root{
    --color1 : #dd1111;
    --color2 : #262626;
    --color3 : #000000;
    --color4 : #fff;
    --font1 : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body{
    font-family: var(--font1);
    margin : 0;
    padding : 0;
    background-color: var(--color3);
    color: var(--color4);
    box-sizing: border-box; 
    /* padding : 10px; */
}

header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}


header .logo{
    display: flex;
    align-items: center;
    padding : 0;
    height: max-content;
}

header .logo img{
    width : 50px;
    height: 50px;
    margin-right : 10px;
}

header .logo h1{
    text-transform: uppercase;
    color : var(--color1);
    font-size : 25px;
}

header nav{
    width : 60%;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

header nav ul li{
    padding-right : 10px;
}

header nav ul li a{
    text-decoration: none;
    color : var(--color4);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size : 16px;

}

h2{
    text-align: center;
    color : var(--color1);
    margin : 50px 0;

}

.aadhirai {
    width: 80%;
    margin : auto;
}

/* background-image: linear-gradient(130deg, var(--color2) 93%, #FFFFFF00 90%); */

.aadhirai img{
    width : 100%;
    height : 400px;
    object-fit: cover;
    object-position: center;
    margin : 20px;
    

}

.aadhirai .desc{
    width : 100%;
    margin : 20px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 25px;
}

.panels{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    align-items: center;
    gap : 100px;

}

.panels .panel{
    /*  */
    width: 100%;
    margin: auto;

}

.panels .panel img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--color4);
}

.panels .panel a{
    text-decoration: none;
    color : white;
    font-weight: bolder;
    font-size: 1.3em;
}

.panels .panel p{
    background-image: linear-gradient(130deg, var(--color1) 93%, #FFFFFF00 90%);
    text-decoration: none;  
    padding : 10px;  
}

.cont{
    width: 80%;
    margin : auto;

}

.cont img{
    width : 100%;
    height : 400px;
    object-fit: cover;
    object-position: center;
    margin : 20px;
    

}

.cont .desc{
    width : 100%;
    margin : 20px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 25px;
}

.persons {
    padding : 20px 50px;
    display: flex;
    justify-content: space-around;
}



.persons .person img{
    width : 300px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.persons .person  p{
    background-image: linear-gradient(130deg, var(--color1) 93%, #FFFFFF00 90%); 
    padding : 10px;
    position: relative;
    bottom : 40px;
    right : 30px;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.executives {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}


.images{
    display: grid;
    padding : 50px;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap : 50px  ;

}

.images .image img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border: 1px solid white;
}

.images .image p{
    background-image: linear-gradient(130deg, var(--color1) 93%, #FFFFFF00 90%); 
    padding : 15px 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

}

@media  only screen and (max-width : 1200){
    header{
        padding : 0 50px;
    }   


}

@media  only screen and (max-width : 1000){
    header{
        padding : 0 30px;
    }   
}

@media only screen and (max-width : 1000px){

    h2{
        margin: 10px 0;
        font-size: 16px;
    }

    header .logo img{
        width : 40px;
        height : 40px;
    };

    header{
        width: 100%;
        padding : 0px 0px;
    }

    header .logo{
        margin : 10px;
    }

    .menu{
        display: block;
        cursor : pointer;
    }

    .menu .line{
        width : 25px;
        background-color: white;
        height : 2px;
        margin : 5px 20px;
    }

    

    header nav{
        position :absolute;
        top : 70px;
        width : 100%;
        background-color: var(--color3); 
        margin : 0;
        transition : 0.2s;
        height : 0px; 
        overflow : hidden;
    }


    header nav ul{
        display: block;
        text-align: center;
    }

    header nav ul li{
        margin : 40px 0;
        font-size: 20px;
        opacity: 0;
        transition: 0.5s;

    }
    header nav ul li.active a{
        border-bottom : 2px solid var(--color1);
        padding-bottom : 3px;

    }

    header nav.active{
        height: 500px;
        transition: 0.5s;
        z-index: 20;
    }

    header nav.active ul li{
        opacity: 1;
        transition: 0.5s;
        padding-right : 0;
    }

    header nav.active ul{
        padding : 0;
    }

    header .logo h1{
        font-size: 16px;
    }

    .aadhirai .image img{
        margin : 0;
    }

    .aadhirai .desc p{
        width : calc(100% - 40px);
    }

    .panels {
        display: block;
    }

    .panels .panel{
        width : 80%;
    }

    .panels .panel img{
        max-width : 100%;
        height : 50%;
    }

    .panels .panel p{
        font-size : 16px;
    }
    .persons {
        display: block;
    }

    .persons .person{ 
        display: grid;
        grid-template-rows: auto auto; 
    }

    .persons .person img{
        width : 180px;
        height : 210px;
        position: static;
        margin : auto;
    }

    .persons .person p{
        width : 60%;
        left : 20px;
        font-size : 16px;
    }

    .cont .logo img{
        margin : 0;

    }

    .cont .desc {
        margin : 0;
    }

    .images{
        display: block;
    }

    .images .image{
        margin-bottom : 20px;
    }

    .images .image img{
        width : 100%;
        height : 100%;
    }

    .images .image p{
        font-size : 10px;

    }
    
}


